@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$font-stack: Roboto, sans-serif;
$primary-color: #0CACAE;

html {
  font: $font-stack;
}

.home {
  letter-spacing: 2px;
}

nav {
  font-size: 14px;
}

.nearby-pools {
  padding: 4px 0;
  // text-transform: uppercase;
}

.comment-heading{
  // text-transform: uppercase;
  margin-top: 20px;
}

.label, .input, .select {
  font-size: 14px;
}

.map-hero {
  margin-bottom: 14px;
}

.nearby-container {
  flex-direction: row;
}

figure {
  border-radius: 20px;
}


// INDEX

.index-search {
  padding: 6px;
}

.index-control{
  margin-top: 20px;
  margin-left: 10px;
  .search-index {
    width: 500px;
    height: 35px;
  }
}


// COLLECTION ==========================

.pool-collection1, .pool-collection2, .pool-collection3, .pool-collection4, .pool-collection5, .pool-collection6, .pool-collection7, .pool-collection8, .pool-collection9 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  height: 200px;
  margin: 0 35px;
}

.pool-collection1 {
  background-image: url('/assets/coastal.jpg');
}

.pool-collection2 {
  background-image: url('/assets/london.jpg');
}

.pool-collection3 {
  background-image: url('/assets/rivers.jpg');
}

.pool-collection4 {
  background-image: url('/assets/lido.jpg');
}

.pool-collection5 {
  background-image: url('/assets/scotland.jpg');
}

.pool-collection6 {
  background-image: url('/assets/lakes.jpg');
}

.pool-collection7 {
  background-image: url('/assets/wales.jpg');
}

.pool-collection8 {
  background-image: url('/assets/southwest.jpeg');
}

.pool-collection9 {
  background-image: url('/assets/ponds.jpg');
}

.collection-hero {
  background-image: url('/assets/hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  opacity: 0.9;

    h1{
      margin: 20px;
      color: white;
      font-size: 50px;
      font-weight: bold;
    }
}
// SHOW ===============================================

.show-hr {
  background-color: $primary-color;
}

.show-hr-comment {
  background-color: $primary-color;
  height: 1px;
}

.pool-heading {

}

table {
  font-size: 14px;
}

// FORM =====================================

.submit {
  border: 1px solid $primary-color;
  font-size: 14px;
}

.submit:hover {
  border: 3px solid $primary-color;
  font-size: 14px;
}

.form {
  margin-top: 5px;
}


// POPUP ============================

.popup {
  color: black;
  padding: 6px;
}


.popup-hr {
  background-color: $primary-color;
  margin: 2px;
}

.mapboxgl-popup-content {
  padding: 2px;
}
