.home {
  letter-spacing: 2px;
}

nav {
  text-transform: uppercase;
  font-size: 14px;
}

.nearby-pools {
  padding: 4px 0;
  text-transform: uppercase;
}

.pool-heading {
  text-transform: uppercase;
}

.comment-heading{
  text-transform: uppercase;
  margin-top: 20px;
}

.label, .input, .select {
  font-size: 14px;
}

.map-hero {
  margin-bottom: 14px;
}

// .pool-section {
//   width: 90%;
// }

// .pool-gallery {
//   width: 90%;
//   margin: 50px;
// }
